.Gen {
    margin : center;
}

.Fieldarea {
    width: 150px;
    margin : center;
    box-sizing: border-box;
    border-color: mediumseagreen;
    font-weight: bold;

}

.ButtonC {
    border:0;
    padding: 8px 20px;
    margin:0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-weight: 100;
}

.ButtonC:active {
    outline: none;
}

.info{
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

.InfoKey {
   color: rgb(41, 29, 216);
   border-bottom: solid 15px rgba(255,255,255,0.06);
   font-weight: 400;
}

.InfoKey:last-child {
    border: 0;
}

.nfoValue {
    color:red;
    font-weight: 200;
}

.Cryptoform {
    
    margin: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  
}

.formtext {
    width: 150px;
    position: relative;
    top: -48px;
    background: white;
    padding: 7px;
    width: 57px;
    color: red;
    
  }

  .inputzone {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 8px grey;
	-moz-box-shadow: 2px 2px 8px grey;
	-webkit-box-shadow: 2px 2px 8px lightgrey;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
  }

  .textstaking {
      color:black;
      font: 16px Arial, Helvetica, sans-serif;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
  }